
## <summary>policy for bitcoineuro</summary>


########################################
## <summary>
##	Transition to bitcoineuro.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitcoineuro_domtrans',`
	gen_require(`
		type bitcoineuro_t, bitcoineuro_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitcoineuro_exec_t, bitcoineuro_t)
')


########################################
## <summary>
##	Execute bitcoineuro server in the bitcoineuro domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoineuro_initrc_domtrans',`
	gen_require(`
		type bitcoineuro_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitcoineuro_initrc_exec_t)
')


########################################
## <summary>
##	Search bitcoineuro lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoineuro_search_lib',`
	gen_require(`
		type bitcoineuro_var_lib_t;
	')

	allow $1 bitcoineuro_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitcoineuro lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoineuro_read_lib_files',`
	gen_require(`
		type bitcoineuro_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitcoineuro_var_lib_t, bitcoineuro_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoineuro lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoineuro_manage_lib_files',`
	gen_require(`
		type bitcoineuro_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitcoineuro_var_lib_t, bitcoineuro_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoineuro lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoineuro_manage_lib_dirs',`
	gen_require(`
		type bitcoineuro_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitcoineuro_var_lib_t, bitcoineuro_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitcoineuro environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitcoineuro_admin',`
	gen_require(`
		type bitcoineuro_t;
		type bitcoineuro_initrc_exec_t;
		type bitcoineuro_var_lib_t;
	')

	allow $1 bitcoineuro_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitcoineuro_t)

	bitcoineuro_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitcoineuro_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitcoineuro_var_lib_t)

')

